.button {
    color: rgb(173, 163, 163);
    cursor: pointer;
    float: right;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    border-color: aqua;
    background-color: black;
    font-weight: bold;
    display: flex;
  }
  .span{
    color: rgb(235, 235, 235);
    cursor: pointer;
    float: right;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    display: flex;

  }